@model DomainLayer.Model.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userEmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userEmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createDataTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createDataTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.userId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
